<h1 class="sub-header">Open Pull Requests</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>PR</th>
        <th>Set State</th>
      </tr>
    </thead>
    <tbody>
      <% @pull_requests.each do |pr| %>
      <tr>
        <td><%= link_to pr.url %></td>
        <td>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              State
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li>success</li>
              <li>error</li>
              <li>failure</li>
            </ul>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
