<h1 class="sub-header">Open Pull Requests</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>PR</th>
        <th>Set State</th>
      </tr>
    </thead>
    <tbody>
      <% @pull_requests.each do |pr| %>
      <tr>
        <td><%= link_to pr.url %></td>
        <td>
          <div>
            <%= form_for %>
            <% end %>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
